@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 100% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 197 84% 48%;
    --primary-foreground: 210 20% 98%;
    --primary-dark: 197 84% 42%;
    --secondary: 215 27.9% 90.0%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 95.0%;
    --muted-foreground: 215 20.2% 45.1%;
    --accent: 240 67% 97%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 20.2% 85.1%;
    --input: 215 20.2% 90.1%;
    --ring: 197 84% 48%;
    
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --radius: 0.5rem;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 22%;
    --sidebar-ring: 215 20.2% 65.1%;
  }
  .dark {
    --background: 180 20% 5%;
    --foreground: 210 40% 98%;
    --card: 180 20% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 180 20% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 71% 74%;
    --primary-foreground: 197 84% 10%;
    --primary-dark: 197 71% 68%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 240 15% 15%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 22%;
    --input: 217 33% 22%;
    --ring: 197 71% 74%;
    
    --chart-1: 210 40% 98%;
    --chart-2: 160 50% 70%;
    --chart-3: 40 70% 60%;
    --chart-4: 280 60% 75%;
    --chart-5: 340 70% 65%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 22%;
    --sidebar-ring: 215 20.2% 65.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.day-booked:not([aria-disabled=true]) {
  position: relative;
}

.day-booked:not([aria-disabled=true])::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: hsl(var(--primary));
}

.day-booked[aria-selected="true"]:not([aria-disabled=true])::after {
    background-color: hsl(var(--primary-foreground));
}
